header {
    background-color: var(--azul-claro);
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

.lista-navegacion {
    display: flex;
    gap: 20px;
    align-items: center;
}

.linkedin-icon {
    color: var(--gris);
    height: 40px;
}

.descarga-icon {
    height: 15px;
}

.link-descarga {
    color: white;
    background-color: var(--gris);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px
}

.whatsapp-icon {
    height: 40px;
}

.foto {
    height: 300px;
}

main {
    height: 80vh;
    background: linear-gradient(225deg, var(--azul-1) 20%, var(--azul-2) 90%, var(--azul-3) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: white;
}

.presentacion {
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 20px;
}

.presentacion h1 {
    font-size: 50px;
}

.presentacion h2 {
    font-size: 20px;
}

.presentacion h3 {
    font-size: 16px;
}

.whatsapp-link {
    background-color: var(--verde);
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
}

